#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin:PB10
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
max_power: 1.0
#control = pid
#pid_kp = 68.601
#pid_ki = 1.550
#pid_kd = 758.895
min_temp: 0
max_temp: 120

[verify_heater heater_bed]
max_error: 120
check_gain_time:120
hysteresis: 10
heating_gain: 1

[heater_generic heater_bed_outer]
heater_pin:PC8
max_power:1.0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin:PC2
#control = pid
#pid_kp = 75.301
#pid_ki = 1.383
#pid_kd = 1025.032
min_temp:0
max_temp:120

[verify_heater heater_bed_outer]    # Heating block temperature tolerance configuration
max_error: 600                 # maximum error
check_gain_time:120            # Tolerance time
hysteresis: 10                 # tolerance temperature
heating_gain: 1                # Heating gain

[gcode_macro M190]
rename_existing: M99190
gcode:
  # --- require S parameter ---
  {% if params.S is not defined %}
    RESPOND PREFIX="bed heater" MSG="No S parameter provided. Using M140 S0."
    M140 S0
  {% else %}
    # --- sanitize target temp ---
    {% set target = params.S|float %}
    {% set target = [target, 120]|min %}

    # --- object references ---
    {% set bed = printer.heater_bed %}
    {% set outer = printer["heater_generic heater_bed_outer"] %}

    # --- set temperatures ---
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={target|int}
    SET_HEATER_TEMPERATURE HEATER=heater_bed_outer TARGET={target|int}

    # --- wait for outer heater ---
    {% if outer.temperature < target %}
      TEMPERATURE_WAIT SENSOR="heater_generic heater_bed_outer" MINIMUM={target-1} MAXIMUM={target+1}
    {% endif %}

    # --- wait for main bed heater ---
    {% if bed.temperature < target %}
      TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={target-1} MAXIMUM={target+1}
    {% endif %}

    RESPOND PREFIX="bed_heater" MSG="Bed and outer heater reached {target|int}°C."
  {% endif %}

[gcode_macro M140]
rename_existing: M99140
gcode:
  {% set s = (params.S|float,120)|min %}
  {% if params.S is defined %}
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={s|int}
    SET_HEATER_TEMPERATURE HEATER=heater_bed_outer TARGET={s|int}
  {% else %}
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0
    SET_HEATER_TEMPERATURE HEATER=heater_bed_outer TARGET=0
  {% endif %}

[gcode_macro M141]
gcode:
  RESPOND PREFIX=chamber MSG="Chamber heating done."

[gcode_macro M191]
gcode:
  {% set s = params.S|float %}
  {% if s == 0 %}
      RESPOND PREFIX=chamber MSG="Chamber heating cancelled"
  {% else %}
      RESPOND PREFIX=chamber MSG="Chamber heating to: {s}c"
      M140 S110
      TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={s-1}
      RESPOND PREFIX=chamber MSG="... chamber at target temperature"
  {% endif %}
